<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="eu">
<th:block layout:fragment="header"
          th:include="@{/fragments/header}">
</th:block>

<body id="page-top">
<div id="wrapper">
    <th:block layout:fragment="menu"
              th:include="@{/fragments/menu}">
    </th:block>

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">
            <nav th:if="${session.userName != Null}"
                 th:text="'안녕하세요 ' + ${session.userName} + ' 님'"
                 class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
            </nav>
            <nav th:if="${session.userName == Null}"
                 th:text="안녕하세요"
                 class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
            </nav>
            <!-- End of Topbar -->

            <!-- Begin Page Content -->
            <div class="container-fluid">
                <!-- Page Heading -->
                <div class="d-sm-flex align-items-center justify-content-between mb-4">
                    <h1 class="h3 mb-0 text-gray-800">Dash Board</h1>
                </div>
                <!-- Content Row -->
                <div class="row">
                    <div class="col-lg-6">
                        <!-- 내 정보 확인 -->
                        <div class="card mb-4">
                            <div class="card-header py-3">
                                <h6 class="m-0 font-weight-bold text-primary">내 정보</h6>
                            </div>

                            <div class="card-body">
                                <p><strong>이메일</strong></p>
                                <p> 이메일 칸</p>
                                <p><strong>이름</strong></p>
                                <p> 이름 칸</p>

                                <a href="#" class="btn btn-primary btn-icon-split">
                                        <span class="icon text-white-50">
                                            <i class="fas fa-flag"></i>
                                        </span>
                                    <span class="text">내 방문 기록</span>
                                </a>
                                <a href="#" class="btn btn-primary btn-icon-split">
                                        <span class="icon text-white-50">
                                            <i class="fas fa-flag"></i>
                                        </span>
                                    <span class="text">내 검색 기록</span>
                                </a>
                                <div class="my-2"></div>
                            </div>
                        </div>

                        <!-- 개인정보 수정 -->
                        <div class="card mb-4">
                            <div class="card-header py-3">
                                <h6 class="m-0 font-weight-bold text-primary">개인정보 수정</h6>
                            </div>

                            <div class="card-body">
                                <a href="/members/myPage/updatePassword" class="btn btn-info btn-icon-split">
                                        <span class="icon text-white-50">
                                            <i class="fas fa-info-circle"></i>
                                        </span>
                                    <span class="text">비밀번호 변경</span>
                                </a>
                                <a href="#" class="btn btn-danger btn-icon-split">
                                        <span class="icon text-white-50">
                                            <i class="fas fa-trash"></i>
                                        </span>
                                    <span class="text">회원 탈퇴</span>
                                </a>
                                <div class="my-2"></div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <!-- End of Main Content -->
    </div>
    <!-- End of Content Wrapper -->
</div>
<!-- End of wrapper -->
</body>

<th:block layout:fragment="footer"
          th:include="@{/fragments/footer}">
</th:block>

</html>
