<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="eu">
<th:block layout:fragment="header"
          th:include="@{/fragments/header}">
</th:block>

<script type="text/javascript">
    $(document).ready(function(){
        setDateBox();
    });

    function fillZero(width, str) {
        //남는 길이만큼 0으로 채움
        return str.length >= width ? str:new Array(width-str.length+1).join('0')+str;
    }

    function test(y, m, cd) {
        m = fillZero(2, m);
        var getYmd = "?ymd=" + y + m;
        var getCd = "&cd=" + cd;

        $("#apiTest").empty();
        $.ajax({
            url:'http://localhost:8081/apiTest' + getYmd + getCd,
            type:'GET',
            dataType: 'xml',
            success: function(data) {
                $(data).find("item").each(function() {
                    var year = $(this).find("년").text();
                    var dong = $(this).find("법정동").text();
                    var apart = $(this).find("아파트").text();

                    var text = year + dong + " " + apart + "</br>";

                    $("#apiTest").append(text);
                });
            },
            error:function(request, error) {
                console.log("code: " + request.status + "\n" +
                            "message: " + request.responseText + "\n" +
                            "error: " + error);
            }
        });
    };

    function setDateBox() {
        var dt = new Date();
        var year = "";
        var com_year = dt.getFullYear();


        // 올해 기준으로 -30년부터 +0년을 보여준다.
        for(var y = (com_year-30); y <= (com_year); y++){
            $("#year_select").append("<option value='"+ y +"'>"+ y + " 년" +"</option>");
        }

        // 월 뿌려주기(1월부터 12월)
        for(var i = 1; i <= 12; i++){
            $("#month_select").append("<option value='"+ i +"'>"+ i + " 월" +"</option>");
        }

    }

</script>
<body id="page-top">
<div id="wrapper">
    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

        <!-- Sidebar - Brand -->
        <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/">
            <div class="sidebar-brand-text mx-3">HOME</div>
        </a>

        <!-- Divider -->
        <hr class="sidebar-divider my-0">

        <!-- Nav Item - Dashboard -->
        <li class="nav-item active">
            <a class="nav-link" href="/">
                <i class="fas fa-fw fa-tachometer-alt"></i>
                <span>Dashboard</span></a>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider">

        <!-- Heading -->
        <div class="sidebar-heading">
            INTERFACE
        </div>

        <!-- Nav Item - Pages Collapse Menu -->
        <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo"
               aria-expanded="true" aria-controls="collapseTwo">
                <i class="fas fa-fw fa-cog"></i>
                <span>마이페이지</span>
            </a>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                <div th:if="${session.userName == Null}"
                     class="bg-white py-2 collapse-inner rounded">
                    <h6 class="collapse-header">세부</h6>
                    <a class="collapse-item" href="/members/login">로그인</a>
                    <a class="collapse-item" href="/members/new">회원가입</a>
                </div>
                <div th:if="${session.userName != Null}"
                     class="bg-white py-2 collapse-inner rounded">
                    <h6 class="collapse-header">세부</h6>
                    <a class="collapse-item" href="/members/logout">로그아웃</a>
                </div>
            </div>
        </li>

        <!-- Nav Item - Utilities Collapse Menu -->
        <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUtilities"
               aria-expanded="true" aria-controls="collapseUtilities">
                <i class="fas fa-fw fa-wrench"></i>
                <span>기능</span>
            </a>
            <div id="collapseUtilities" class="collapse" aria-labelledby="headingUtilities"
                 data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <h6 class="collapse-header">세부</h6>
                    <a class="collapse-item" href="#">커뮤니티</a>
                </div>
            </div>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider d-none d-md-block">

        <!-- Sidebar Toggler (Sidebar) -->
        <div class="text-center d-none d-md-inline">
            <button class="rounded-circle border-0" id="sidebarToggle"></button>
        </div>

    </ul>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">
            <!-- Topbar -->
            <nav th:if="${session.userName == Null}"
                 class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
                안녕하세요
            </nav>
            <nav th:if="${session.userName != Null}"
                 th:text="'안녕하세요 ' + ${session.userName} + ' 님'"
                 class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
            </nav>
            <!-- End of Topbar -->

            <!-- Begin Page Content -->
            <div class="container-fluid">
                <!-- Page Heading -->
                <div class="d-sm-flex align-items-center justify-content-between mb-4">
                    <h1 class="h3 mb-0 text-gray-800">Dash Board</h1>
                </div>
                <!-- Content Row -->
                <div class="row">
                    <select name="year_select" id="year_select" title="년도"></select>
                    <select name="month_select" id="month_select" title="월"></select>
                    <input type="text" id="cd" placeholder="지역(11110)">
                    <a onclick="test(year_select.value, month_select.value, cd.value)" title="test"
                       class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
                        테스트
                    </a>
                </div>
                <div id="apiTest"></div>
            </div>
        </div>
        <!-- End of Main Content -->
    </div>
    <!-- End of Content Wrapper -->
</div>
<!-- End of wrapper -->
</body>

<th:block layout:fragment="footer"
          th:include="@{/fragments/footer}">
</th:block>

</html>
